__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

.env

data/input/Export_Copilot_*.xlsx
data/input/old/Export_Copilot_*.xlsx
data/pipeline_log.txt

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp